.CircularProgressbar {
  /* width: 4rem !important; */
  overflow: visible;
}
.CircularProgressbar-path {
  stroke: hsl(var(--primary)) !important;
  stroke-width: 6px !important;
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.2));
}
.CircularProgressbar-trail {
  display: none;
}
.CircularProgressbar-text {
  fill: black !important;
  font-weight: bold;
}

.motor-error-code-table{
  font-size: 0.9rem;
}

.motor-error-code-table th,
.motor-error-code-table td {
  padding: 10px 8px;
}

.motor-error-code-table tbody tr:nth-of-type(even){
  background-color: #eee;
}

/* table, td, th {
  border: 2px solid;
} */

table thead{
  background-color: hsl(var(--primary));
}

table{
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}